/* Reset */* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'Playfair Display', serif;
} 

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f6bf00;
}

h1 {
    text-align: center;
    color: #f3f6f3;
    padding:1vw;
}

section, header {
    padding: 10vw;
}

h2 {
    text-align: center;
    padding: 1vw;
}

p {
    text-align: center;
    margin: 1vw;
}

/* Menu ppal*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 12vh;
    padding: 1vw;
    font-size: 20px;
    font-weight: bold;
    background: #f6bf00;
}

#menu-hambur-toggler  {
    display: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #f3f6f3;
    font-size: 20px;
    margin-right: 5vw;
    z-index: 2;
}

li.menu-item a {
    color:#f3f6f3;
}

li.menu-item a:visited {
    color:#f3f6f3;
}

li.menu-item a:hover {
    color:#d63d3c;
    border-bottom: 1px solid #d63d3c;
    padding-bottom: 4px;
}

ul.lista-menu, ul.lista-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

ul li {
    padding: 1vw;
    margin: 1vw;
}

#logo {
    padding: 20px 0;
    margin-top: 8px;
    width: 166px;
}

/* Sections */
section#sobre, 
section#sesiones {
    background-color: #f3f6f3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

section#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 70vh;
    background-color: #d63d3c;
    color: #f3f6f3;
    font-size: 20px;
}

div#contenedor-img {
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

div figure {
    padding: 1vw;
}

div figure img {
    border: 1px solid white
}
/* Ver que no se superponga e hover de las img con el menu!!! */
figure img:hover {
    filter: saturate(150%);
}

/* Formulario */
form {
    min-width: 70vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

input,
textarea {
    display:block;
    text-align: start;
    appearance: auto;
    cursor: text;
    font-family: 'Playfair Display', serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-shadow: none;
    text-indent: 0px;
    background-color: -internal-light-dark(#f3f6f3), rgb(59, 59, 59);
    color: -internal-light-dark(black, #f3f6f3);
    border-radius: 5px;
} 

input {
    width: 20vw;
    height: 5vh;
}

input::placeholder {
    text-align: center;
}

textarea::placeholder {
    text-align: center;
}


/* Footer */
footer#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 30vh;
    background-color: #d63d3c;
    color: #f3f6f3;
    font-size: 30px;
}

p small {
    font-size: 10px;
    text-align: center;
}

a i {
    color:#f3f6f3;
}

a i:visited {
    color:#f3f6f3;
}

a i:hover {
    color:#f6bf00;
}

/* Responsive */
@media (max-width: 480px) {
    h1 {
        font-size: 32px;
    }

    header p {
        font-size: 20px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    footer#contact ul {
        flex-direction: column;
    }

    footer#contact a {
        font-size: 24px;
    }

    div#contenedor-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
}

@media (max-width: 768px) {

    h1 {
        font-size: 32px;
    }

    header p {
        font-size: 20px;
    }
    
    section#sobre,
    section#sesiones,
    section#contact {
        padding: 20vw 10vw;
    }

    #logo {
        width: 150px;
        z-index: 2;
    }
    
    ul.lista-menu {
        display: none;
    }

   
/* Menu Responsive */

    #menu-hambur-toggler {
        display: block;
    }

    #cerrar-menu-mobile {
        display: none;
    }

    body.menu-mobile-activo {
        overflow: hidden;
    }
    
    body.menu-mobile-activo #abrir-menu-mobile {
        display: none;   
    }

    body.menu-mobile-activo #cerrar-menu-mobile {
        display: block;   
    }

    body.menu-mobile-activo .lista-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        background: #f6bf00;  
    }
}
